/* Pretendard Font */
@font-face {
  font-family: 'Pretendard';
  src: url('https://oezif1e9leolgilw.public.blob.vercel-storage.com/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://oezif1e9leolgilw.public.blob.vercel-storage.com/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://oezif1e9leolgilw.public.blob.vercel-storage.com/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://oezif1e9leolgilw.public.blob.vercel-storage.com/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://oezif1e9leolgilw.public.blob.vercel-storage.com/fonts/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}